html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
li,
p,
h2,
h3 {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  // max-width: 100%;
}
